/* Agrega tus estilos CSS aquí */
body {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#app {
  gap: 32px;
  display: flex;
  padding: 24px;
  flex-direction: column;
}

#app h1 {
  line-height: 1;
  font-size: 32px;
  color: #222121;
  text-align: center;
}

#app main {
  gap: 64px;
  width: 100%;
  margin: auto;
  display: flex;
  max-width: 1024px;
  flex-direction: column;
}

#app article {
  flex: 1;
}

#app aside {
  flex: 0.5;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

#clientForm,
#options {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

#options {
  align-items: center;
}

#clientsContainer {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

#clientForm div,
#options div:first-child {
  gap: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#clientForm label,
#options label {
  display: block;
  line-height: 1;
  font-size: 14px;
  color: #222121;
}

#clientForm input,
#clientForm select,
#options input,
#options select {
  padding: 8px;
  outline: none;
  line-height: 1;
  font-size: 14px;
  color: #222121;
  border-radius: 6px;
  border: 1px solid #222121;
  transition: all ease-in-out 0.4s;
}

#clientForm input::placeholder,
#clientForm select::placeholder,
#options input::placeholder,
#options select::placeholder {
  line-height: 1;
  font-size: 14px;
  color: #222121;
}

#clientForm input:focus-visible,
#clientForm select:focus-visible,
#options input:focus-visible,
#options select:focus-visible {
  border-color: #534caf;
}

#clientForm button,
#options button,
#clientsContainer button {
  border: none;
  cursor: pointer;
  color: #ffffff;
  align-self: center;
  padding: 12px 24px;
  border-radius: 6px;
  background-color: #534caf;
  transition: all ease-in-out 0.4s;
}

#clientForm button:hover,
#options button:hover,
#clientsContainer button:hover {
  background-color: #494494;
}

#clientsContainer {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

#clientsContainer div {
  gap: 8px;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  border-bottom: 1px solid #534caf;
}

#clientsContainer .discount {
  color: #4caf50;
}

#clientsContainer p {
  margin: 0;
  text-transform: capitalize;
}

#clientsContainer button.delete-client {
  align-self: flex-start;
  background-color: #ef233c;
}

#clientsContainer button.delete-client:hover {
  background-color: #d90429;
}

@media screen and (min-width: 1024px) {
  #app main {
    flex-direction: row;
  }
}
